#!/usr/bin/make -f

export DH_VERBOSE=0
export DH_PYCENTRAL=include-links
PKG = certmaster

PYVERS  = $(shell pyversions -vr)
PACKAGE = $(shell dh_listpackages)
PYINST = $(CURDIR)/debian/certmaster

################################################################################
#. Build
build: build-stamp
build-stamp: fix
	dh_testdir
	dh_prep
	python$* setup.py build
	touch $@

################################################################################
#. Install
install: install-stamp
	dh_install
	dh_installdirs
	dh_installdocs
	dh_installexamples
	#dh_installinit
	dh_installman
	dh_installchangelogs
	install debian/upstream.changelog debian/$(PKG)/usr/share/doc/$(PKG)/changelog
	dh_link
	#.
	dh_pycentral
	dh_installdeb

install-stamp: build-stamp $(PYVERS:%=install-ext-%)
	touch $@

install-ext-%:
	dh_testdir
	dh_testroot
	python$* setup.py install \
	  --root=$(PYINST) \
	  --prefix=/usr \
	  --install-scripts=/usr/share/certmaster
	touch $@

################################################################################
#. Binary (Executable)
binary: binary-indep
binary-indep: build install
	dh_testdir
	dh_testroot
	#.
	dh_compress
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	#.
	dh_fixperms
	dh_builddeb

################################################################################
#. Fix & Unfix - These are changes that I would like upstream to implement,
#. while they don't, I'll fix it myself here...
.PHONY: unfix fix

fix:
	pod2man \
	  --center="certmaster-request" \
	  --release="" \
	  docs/certmaster-request.pod \
	    | gzip -c \
	    > docs/certmaster-request.1.gz
	pod2man \
	  --center="certmasterd" \
	  --release="" \
	  docs/certmaster.pod \
	    | gzip -c \
	    > docs/certmaster.1.gz
	pod2man \
	  --center="certmaster-ca" \
	  --release="" \
	  docs/certmaster-ca.pod \
	    | gzip -c \
	    > docs/certmaster-ca.1.gz
	pod2man \
	  --center="certmaster-sync" \
	  --release="" \
	  docs/certmaster-sync.pod \
	    | gzip -c \
	    > docs/certmaster-sync.1.gz

unfix:
	test ! -f docs/certmaster-request.1.gz || rm -f docs/certmaster-request.1.gz
	test ! -f docs/certmaster.1.gz || rm -f docs/certmaster.1.gz
	test ! -f docs/certmaster-ca.1.gz || rm -f docs/certmaster-ca.1.gz

################################################################################
#. Clean
clean: $(PYVERS:%=clean-ext-%) unfix
	dh_testdir
	dh_clean build-stamp install-stamp $(PYVERS:%=install-ext-%)
	test ! -d build || rm -rf build

clean-ext-%:
	python$* setup.py clean

.PHONY: build clean binary-indep binary-arch binary install

